.all-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
// 1 card
.destination-card {
  width: 350px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
  margin: 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  transition: all .2s ease;
}
.bg {
  display: flex;
  height: 100%;
}
.bg-svg {
  transition: all .3s ease;
  transition-delay: .2s;
  z-index: 5;
  width: 55%;
}
.destination-image {
  width: 350px;
  height: 200px;
  position: absolute;
  display: flex;
  .photo-link {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    transition: all 6s ease-out;
  }
}
.destination-info {
  position: absolute;
  z-index: 10;
  width: 350px;
  padding: 16px;
  .destination-header {
    display: flex;
    justify-content: space-between;
    #destination-name {
      display: flex;
      justify-content: space-between;
      transition: all .4s ease;
      font-weight: bolder;
      transition-delay: .2s;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 32px;
      color: #565656;
    }
    .country-flag {
      height: 40px;
    }
  }
  #country-name {
    margin-bottom: 16px;
    color: #A5A5A5;
    font-size: 15px;
  }
  p {
    text-align: center;
    transition: all .2s ease-in-out;
    opacity: 1;
    margin: 0;
    // color: #A5A5A5;
    font-size: 20px;
    color: white;
    width: 31%;
    font-size: 20px;
    border-radius: 20px;
    padding: 8px 0px;
    background: #0BA3E4;
    .info-icon {
      height: 50px;
    }
    .mass-type {
      font-size: 12px;
    }
  }
}
// hover effect
.grow {
  transition: all .2s ease;
}
.grow:hover {
  transform: scale(1.07);
}
.destination-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  .destination-image {
    img {
      object-position: bottom;
    }
  }
  .destination-info {
    .destination-header {
      #destination-name {
        padding-left: 80px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
        width: 350px;
        color: white;
      }
    }
    #country-name {
      opacity: 0;
    }
    p {
      opacity: 0;
    }
  }
  .bg-svg {
    width: 0%;
  }
}

// info hide/show
.hide {
  display: none;
}
