.footer {
  margin-top: 64px;
}
.footer-bg-color {
  width: 100%;
  height: 150px;
  background: #0BA3E4;
  margin-top: 5%;
  border-top-left-radius: 60%;
}

#page-footer {
  padding-top: 64px;
  text-align: center;
  color: white;
  z-index: 50;
  font-size: 24px;
}

.favorite {
  height: 24px;
}
